<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>An ABSDKTableViewController file.</string>
	<key>Summary</key>
	<string>An ABSDKTableViewController file</string>
	<key>SortOrder</key>
	<string>30</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Options</key>
        <array>
			<dict>
				<key>Identifier</key>
				<string>productName</string>
				<key>Required</key>
				<true/>
				<key>Name</key>
				<string>Name:</string>
				<key>Description</key>
				<string>The name of the view to create</string>
				<key>Type</key>
				<string>text</string>
				<key>Default</key>
				<string>QueryView</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Query</string>
				<key>Required</key>
				<true/>
				<key>Name</key>
				<string>Query:</string>
				<key>Description</key>
				<string>The query to get data</string>
				<key>Type</key>
				<string>text</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Data</string>
				<key>Required</key>
				<true/>
				<key>Name</key>
				<string>Array data field:</string>
				<key>Description</key>
				<string>The field of the array data in the query result</string>
				<key>Type</key>
				<string>text</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>GenerateXIB</string>
				<key>Name</key>
				<string>Generate XIB for view</string>
				<key>Description</key>
				<string>Should generate XIB file for view</string>
				<key>Type</key>
				<string>checkbox</string>
			</dict>
        </array>
</dict>
</plist>
